
:root {
font-family: sans-serif;
font-size: 18px;
}

body {
gap: 10px;
display: flex;
flex-direction: column;
padding: 0.25in;
margin: auto;
max-width: 599px;

justify-content: center ;
place-content: center;
align-content: center;
height: 100svh;
}

span {
display: flex;
flex-direction: row;

gap: 10px;
}

span * {
flex: 1;
}
*, textarea {
background: black;
color: white;
text-decoration: unset;

}

*, textarea, a {
border: unset;
outline: unset;

border-radius: 15px;
}

textarea {
outline: 1px solid #222;
padding: 10px;

resize: vertical;
display:block ;

height: 130px;

margin-bottom: 8px;
}

p {background: transparent;}

a {
padding: 10px;

background: rgb(74, 60, 166);
display:block ;

}
